/*---------————————————————————————————RlItem.vue的css---------————————————————————————————*/
.item-mt{
    margin-top: 2rem;
    border-bottom: 0.0625rem solid #D8D8D8;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.red-color{
    border-bottom: 0.0625rem solid #FF808B;
}

.item-head{
    font-weight:600;
    color:rgba(68,68,68,1);
    font-size: 0.875rem;
    line-height: 1;
}

.item-content{
    height: 3.625rem;
    flex-wrap: nowrap;
}

.left{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.invalid {
    font-weight: 400;
    color: rgba(255, 128, 139, 1);
    top: 4rem;
    left: 0;
    font-size: 0.875rem;
}

.right{
    right: 1rem;
    /*bottom: 1rem;*/
}

.search-position{
    top: 4.625rem;
    left: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 999;
}

/*---------————————————————————————————RlItem.vue的css---------————————————————————————————*/

/*---------————————————————————————————Phone.vue/Pwd.vue/Captcha的css---------————————————————————————————*/
/*.phone-mt{*/
    /*margin-top: 4rem;*/
    /*border-bottom: 0.0625rem solid #D8D8D8;*/
/*}*/

/*#left:first-child{*/
    /*height: 1rem;*/
    /*width: 1.3125rem;*/
    /*margin-left: 0.5rem;*/
/*}*/

/*#left:nth-child(2){*/
    /*height: 0.25rem;*/
    /*width: 0.5rem;*/
    /*margin-left: 0.5rem;*/
/*}*/

/*#left:nth-child(3){*/
    /*height: 1.25rem;*/
    /*border-left: 0.0625rem rgba(216, 216, 216, 1) solid;*/
    /*margin-left: 0.5rem;*/
/*}*/

/*#left:last-child{*/
    /*margin-left: 0.5rem;*/
    /*font-size: 0.875rem;*/
    /*font-weight: 400;*/
    /*color: rgba(68, 68, 68, 1);*/
    /*line-height: 1;*/
/*}*/

.img-nation {
    height: 1rem;
    width: 1.3125rem;
    margin-left: 0.5rem;
}

.img-arrow {
    height: 0.25rem;
    width: 0.5rem;
    margin-left: 0.5rem;
}


.phone-separate {
    height: 1.25rem;
    border-left: 0.0625rem rgba(216, 216, 216, 1) solid;
    margin-left: 0.5rem;
}


.nation-num {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(68, 68, 68, 1);
    line-height: 1;
}

#input{
    width: 90%;
}

#input input{
    width: 90%;
}


#right img{
    width: 1.25rem;
    height: 1.25rem;
}

#search-box {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: 0.0625rem solid rgba(216, 216, 216, 1);
    padding: 1.25rem 0;
    height: 21rem;
    font-size: 0.875rem;
    overflow-y: auto;
    overflow-x: hidden;
}
/*.search-container {*/
    /*background: rgba(255, 255, 255, 1);*/
    /*box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);*/
    /*border-radius: 1rem;*/
    /*border: 0.0625rem solid rgba(216, 216, 216, 1);*/
    /*padding: 1.25rem 0;*/
    /*height: 21rem;*/
    /*font-size: 0.875rem;*/
    /*overflow: auto;*/
/*}*/

/*.search-scroll {*/

    /*overflow: auto;*/
/*}*/

#search-content{
    border: 0.0625rem solid #D8D8D8;
    height: 2.5rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
/*.search-container .search-box {*/
    /*border: 0.0625rem solid #D8D8D8;*/
    /*height: 2.5rem;*/
    /*box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);*/
    /*border-radius: 1rem;*/
/*}*/

#search-content img{
    height: 1rem;
    width: 1rem;
}
/*.search-box img {*/
    /*height: 1rem;*/
    /*width: 1rem;*/
/*}*/
#search-content input{
    border-color: transparent;
    box-shadow: none;
    width: 90%;
}
/*.search-box .outline {*/
    /*border-color: transparent;*/
    /*box-shadow: none;*/
    /*width: 90%;*/
/*}*/

#search-box h4{
    margin: 1.25rem 1.25rem 0.6rem 0.75rem;
    font-size: 0.875rem;
}

/*.search-container .search-font {*/
    /*margin: 1.25rem 1.25rem 0.6rem 0.75rem;*/
    /*font-size: 0.875rem;*/
/*}*/

.search-row {
    height: 1.8125rem;
    margin-top: 0.25rem;
    padding: 0 2.125rem;
}

.search-row:hover {
    padding: 0 -25rem;
    background: rgba(94, 129, 244, 0.1);
    cursor: pointer;
}

.search-row img {
    width: 1.25rem;
    height: 1rem;
}

.search-row p {
    font-size: 0.875rem;
    color: rgba(68, 68, 68, 1);
}

.search-none {
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
    margin-top: 7.125rem;
}

.search-line {
    height: 0.0625rem;
    background: rgba(216, 216, 216, 1);
    margin: 1.25rem 0 0 0;
    text-align: center;
}


/*.itemimg{*/
    /*width: 1.25rem;*/
    /*height: 1.25rem;*/
/*}*/

.form-control-plaintext {
    font-size: 0.875rem!important;
    border: none;
    font-weight: 400;
    color: rgba(68, 68, 68, 1);
    line-height: 1;
    /* height: 3.625rem;*/
}

/*.hw {*/
    /*height: 3.625rem;*/
    /*width: 90%;*/
/*}*/


.captcha-separate {
    height: 1.25rem;
    border-left: 0.0625rem rgba(216, 216, 216, 1) solid;
    margin-right: 1rem;
}

.captcha-font{
    font-weight:600;
    color:rgba(94,129,244,1);
    font-size: 0.875rem;
}

.captcha-font-after{
    font-weight:400;
    color:rgba(204,204,204,1);
    font-size: 0.875rem;
}

/*.box-width{*/
    /*width: 90%;*/
/*}*/

/*---------————————————————————————————Phone.vue/Pwd.vue/Captcha的css---------————————————————————————————*/

